@model Item
@{ 
    Layout = null;
}
<html>
<head>
    <title>Item Details</title>
</head>
<body>
    <div>
        ItemId: @Model.ItemId
    </div>
    <div>
        Name: @Model.Name
    </div>
    <div>
        Description: @Model.Description
    </div>
</body>
</html>